@model MyCaRt.Models.ProductCategoryModel

@{
    ViewData["Title"] = "CreateProductCategory";
}

<h1>CreateProductCategory</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="containerindex">
        <form asp-action="CreateProductCategory">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Category_Id" class="control-label"></label>
                <input asp-for="Category_Id" class="form-control" />
                <span asp-validation-for="Category_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="margin-right:1000px" asp-for="Category_Name" class="control-label"></label>
                <input asp-for="Category_Name" class="form-control" />  
                <span asp-validation-for="Category_Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                    <input type="submit" id="submitButton" value="Create" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 
}
