@model MyCaRt.Models.ProductCategoryModel

@{
    ViewData["Title"] = "CreateProductCategory";
}

<h1>CreateProductCategory</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProductCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Category_Id" class="control-label"></label>
                <input asp-for="Category_Id" class="form-control" />
                <span asp-validation-for="Category_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category_Name" class="control-label"></label>
                <input asp-for="Category_Name" class="form-control" />
                <span asp-validation-for="Category_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
