@model List<MyCaRt.Models.ProductModel>
@{
    ViewData["Title"] = "Create Product";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessageCount"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessageCount"]
    </div>
}
<style>
    .my-form .form-group .row {
        margin-bottom: 10px;
    }

        .my-form .form-group .row .col-md-3,
        .my-form .form-group .row .col-md-6 {
            display: inline-block;
            width: calc(100% / 7 - 10px);
            margin-right: 0px;
        }

            .my-form .form-group .row .col-md-3:last-child,
            .my-form .form-group .row .col-md-6:last-child {
                margin-right: 0;
            }

    .my-form .form-control {
        width: 100%;
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }

    .my-form .form-control-file {
        width: auto;
    }

    .form-control-sm {
        padding: 0.25rem 0.2rem;
        font-size: 0.75rem;
    }

    img {
        max-width: 100px;
        max-height: 100px;
        margin-top: 10px;
    }

    .file-input-container {
        display: flex;
        align-items: center;
        gap: 10px; /* Adjust the gap as needed */
    }

        .file-input-container img {
            display: none;
        }
</style>
<hr />

<h2>Create Product</h2>
<div class="container">
    <form enctype="multipart/form-data" id="productForm">
        <div id="productFields" class="my-form">


        </div>
        <button type="button" id="addSameCategoryProduct" class="btn btn-primary">Add Same Category Product</button>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

@section Scripts {
    <script>
        //upload the image in local and get the path of the image
        function uploadImage(input, index) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // Display the image preview
                    var previewElement = document.getElementById('imagePreview' + index);
                    previewElement.src = e.target.result;
                    previewElement.style.display = 'inline';
                }

                reader.readAsDataURL(input.files[0]);
            var formData = new FormData();
            formData.append("ImageName", input.files[0]);
            // console.log(formData);
            $.ajax({
                url: '/Product/UploadImage',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.filePath) {
                        // Find the closest product field and set the hidden file path input
                        $(input).closest('.product-field').find('input[name$=".FilePath"]').val(response.filePath);
                        $(input).closest('.product-field').find('input[name$=".ImageName"]').val(response.fileName);
                    } else {
                        alert('Failed to upload image.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error: ', error);
                    alert('Error uploading image: ' + error);
                }
            });
        }
        }
        $(document).ready(function () {
            var categoryData = @Html.Raw(Json.Serialize(ViewBag.CategoryData));
           // console.log(categoryData);
            addProductField(0, categoryData);
            // Change category value for all fields
            $(".productcategory").on("change", function () {

                let value = $(".productcategory").val();

                $(".productcategory").val(value);
            })

            // Display the error message in the field
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage && errorMessage.includes("Product code already exists.")) {
                $("#productCodeError").text(errorMessage).show();
            }
            if (errorMessage && errorMessage.includes("Select the Image.")) {
                $("#filepathError").text(errorMessage).show();
            }

            // Add new product field with the same category
            $('#addSameCategoryProduct').click(function () {
                var productFields = $('#productFields');
                var newIndex = productFields.children().length;
                var selectedCategory = productFields.find('select.productcategory').val();
              //  console.log(selectedCategory);

                if (!selectedCategory) {
                    alert("Please choose the category first.");
                    return;
                }

                addProductField(newIndex, categoryData, selectedCategory);

            });

            // Remove the product details field
            document.getElementById('productFields').addEventListener('click', function (e) {
                if (e.target && e.target.matches('button.remove-field')) {
                    if (document.getElementsByClassName('product-field').length > 1) {
                        e.target.closest('.product-field').remove();
                    } else {
                        alert("At least one product detail is required.");
                    }
                }
            });

            // Validate form before submitting
            $('#productForm').submit(function (event) {
                event.preventDefault();
                var isValid = true;
                $('#productFields .product-field').each(function (index, field) {
                    var $field = $(field);
                    $field.find('input, select').each(function () {
                        var $input = $(this);
                        if (!$input.val()) {
                            isValid = false;
                            $input.next('.text-danger').text('This field is required.').show();
                        } else {
                            $input.next('.text-danger').hide();
                        }
                    });
                });

                if (isValid) {
                    var formData = new FormData(this);
                    $.ajax({
                        url: '/Product/CreateProduct',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response.success) {
                                alert('Products added successfully.');
                                window.location.reload();
                            } else if (response.errors && response.errors.length > 0) {
                                handleErrors(response.errors);
                            } else if (response.errorContent) {
                                console.log(response.errorContent); // Debugging log
                                handleProductCodeError(response.errorContent);
                            } else {
                                alert('Failed to add products.');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error: ', error);
                            console.error('Status: ', status);
                            console.error('Response Text: ', xhr.responseText);
                            alert('Error: ' + xhr.responseText);
                        }
                    });
                }
            });
            function addProductField(index, category, selectedCategory) {
                var newField = `
                            <div class="product-field">
                                <div class="form-group row">
                                            <div class="col-md-3" ${index !== 0 ? 'style="display: none;"' : ''}>
                                        <label class="control-label">Choose Category</label>
                                                        <select class="form-control form-control-sm custom-select productcategory" name="[${index}].Product_Category" >
                                                    <option value="">Select Category</option>`;
                // Ensure category is an array and iterate over it to create options
                if (Array.isArray(category)) {
                    category.forEach(function (c) {
                        newField += `<option value="${c.value}"${c.value === selectedCategory ? 'selected' : ''}>${c.text}</option>`;
                    });
                }

                newField += `  </select>
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Product Code</label>
                                        <input class="form-control form-control-sm" name="[${index}].Product_Code" />
                                        <span class="text-danger product-code-error" id="_${index}_Product_Code_Error"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Product Name</label>
                                        <input class="form-control form-control-sm" name="[${index}].Product_Name" />
                                        <span class="text-danger" id="productNameError${index}"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Product Price</label>
                                        <input class="form-control form-control-sm" name="[${index}].Product_Price" />
                                        <span class="text-danger" id="_${index}_Product_Price_Error"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Description</label>
                                        <input class="form-control form-control-sm" name="[${index}].Product_Description" />
                                        <span class="text-danger" id="productDescriptionError${index}"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Available Quantity</label>
                                        <input type="number" class="form-control form-control-sm" name="[${index}].Available_Quantity" />
                                        <span class="text-danger" id="availableQuantityError${index}"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Select Image</label>
                                                <div class="file-input-container" ">
                                                    <input type="file" class="form-control form-control-sm" name="ImageName" onchange="uploadImage(this, ${index})"  />
                                        <span class="text-danger" id="filepathError${index}"></span>
                                                <input type="hidden" name="[${index}].FilePath" />
                                                <input type="hidden" name="[${index}].ImageName"/>
                                                                 <img id="imagePreview${index}" src="#" alt="Image Preview" style="display:none; width:100px; height:100px;"/>
                                            </div>
                                                                 </div>
                                </div>
                                <button type="button" class="btn btn-danger remove-field">Remove</button>
                            </div>`;

                $('#productFields').append(newField);
            }

            function handleErrors(errors) {
                // Clear previous error messages
                $('.text-danger').text('').hide();
                errors.forEach(function (error) {
                    //console.log(error);  // Debugging log
                    if (error.field && error.error) {
                        var field = error.field.replace(/\[/g, '_').replace(/\./g, '_').replace(/\]/g, '');
                        //console.log(field);
                        var errorMessage = error.error;
                        //console.log(errorMessage);
                        $('#' + field + '_Error').text(errorMessage).show();
                    }
                });
            }
            function handleErrors(errors) {
                // Clear previous error messages
                $('.text-danger').text('').hide();
                errors.forEach(function (error) {
                    //console.log(error);  // Debugging log
                    if (error.field && error.error) {
                        var field = error.field.replace(/\[/g, '_').replace(/\./g, '_').replace(/\]/g, '');
                        //console.log(field);
                        var errorMessage = error.error;
                        //console.log(errorMessage);
                        $('#' + field + '_Error').text(errorMessage).show();
                    }
                });
            }
            function handleProductCodeError(errorContent) {
                // Clear previous error messages
                $('.text-danger').text('').hide();

                try {
                    var errors = JSON.parse(errorContent);
                    if (errors && Array.isArray(errors)) {
                        // console.log(errors);
                        errors.forEach(function (error) {
                            if (error.field && error.error) {
                                var field = error.field.replace(/\[/g, '_').replace(/\./g, '_').replace(/\]/g, '');
                                //  console.log(field);
                                var errorMessage = error.error;
                                //  console.log(errorMessage);
                                $('#' + field + '_Error').text(errorMessage).show();
                            }
                        });
                    } else {
                        console.error('Invalid error content:', errorContent);
                    }
                } catch (e) {
                    console.error('Error parsing error content:', e);
                }
            }
        });
    </script>
}
